---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
---

<Layout title="Mishushito Sushi">
	<main>
		<Header/>
		<Carousel/>
	</main>
</Layout>

