<header
  class={`flex lg:flex-row lg:justify-evenly items-center flex-col 
        pb-4 pt-5 gap-y-3 
        font-medium lg:text-lg
        bg-[#FDFDFD]`}>
  <img src="../logo.png" alt="logo misushito" class="size-20" />
  <nav class="flex tracking-widest gap-x-3">
    <a href="#">Inicio</a>
    <p>|</p>
    <a href="#">Menu</a>
    <p>|</p>
    <a href="#">Delivery</a>
    <p>|</p>
    <a href="#">Ayuda</a>
  </nav>
  <div id="account" class="flex gap-2">
    <a href="">Iniciar Sesion</a>
    <p>|</p>
    <a href="">Registrarse</a>
  </div>
</header>
